.app_header {
    display:flex;
    padding: 20px 240px;
    justify-content: space-between;
    align-items: center;
}
.app_name {
    font-size: 72px;
    font-family: Montserrat;
}
.card_button {
    width: 360px;
    height: 60px;
    font-family: Roboto;
    border-radius: 100px;
    font-size:32px;
    background-color:#c4c4c4;
    cursor: pointer;
}