.expense-date{
    border: 1px solid #ececec;
    border-radius: 15px;
    color: #ececec;
    padding:10px;
    text-align: center;
    background:#071d49;
}
.expense-date__year{
    font-size:18px;
    font-style: italic;
}
.expense-date__month{
    font-size:16px;
    font-weight: bold;
}
.expense-date__day{
    font-size:36px;
    margin-top:10px;
}
